.sb-nav-link-icon {
  width: 1.5em;
  text-align: center;
}

#usersListTable * {
  overflow-x: hidden;
}

.blocked-user {
  background-color: hsla(355, 100%, 50%, 0.2) !important;
  color: #721c24 !important;
}